<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>新規会員登録</title>
    </head>
    <body>
                
        <!--flashメッセージここから-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="background-color:aqua;">
                        <b>{{message}}</b>
                    </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!---flashメッセージここまで-->
        <h2>秘密の質問（2つ目）を決めてください</h2>
        <form method="POST" action="/regist_secretq2">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <select name="secretq2">
                <option value="小学生の時のあだ名は？">小学生の時のあだ名は？</option>
                <option value="旅行に行きたい場所は？">旅行に行きたい場所は？</option>
                <option value="好きな歴史の人物は？">好きな歴史の人物は？</option>
                <option value="通っていた小学校の名前は？">通っていた小学校の名前は？</option>
            </select>
            <input placeholder="答え" type="text" name="secretq2_answer">
            <input type="submit" value="送信">  
        </form>

        <p>{{ test }}</p>
    </body>
</html>